/* Hello! I've started this as a practice. Midway through I've started testing some position stuff and some transform as well. This is not my best CSS, but I tried my best to apply the concepts I know so far.  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to left, #0C0C0C, #2c4550);
    font-family: 'Poppins', sans-serif;
}

/* All the CSS here is in order of appearence in the HTML, to make it easier to find it in the whole project. */

#m-container {
    position: relative;
    transition: 0.5s ease-in-out;
    display: flex;
    min-width: 300px;
    max-width: 1500px;
    height: 700px;
    margin: 10vh auto;
    border: 1px solid white;
    border-radius: 10px;
    background: linear-gradient(to left, #0C0C0C, #2c4550);
}

#left-content {
    transition: 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    width: 80px;
    height: 100%;
    border-right: 1px solid white;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-title {
    transition: 0.5s ease-in-out;
    color: white;
    font-weight: 700;
    font-size: 1.8rem;
    padding-top: 10px;
}

.a-container {
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}


.social-imgs {
    transition: 0.5s ease-in-out;
    max-width: 20px;
    margin: 5px 15px;
    /* brigthness(0) will make all images black, invert(1) will make all the black images white. In theory I could only use the invert(1), since the images are all black, but for learning purpuses, I decided the left the whole code here.*/
    filter: brightness(0) invert(1);
}

#right-content {
    position: relative;
    width: 100%;
    display: flex;
}

.nav-menu {
    position: absolute;
    right: 30px;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

nav {
    display: flex;
    font-size: 15px;
    padding: 15px;
    height: 10px;
}


.light-source {
    height: 30px;
    width: 100%;
    margin: 10px;
}

nav>a {
    margin: 15px;
    text-decoration: none;
    color: white;
}

nav>a:hover {
    color: #2c4550;
    text-decoration: underline;
}

nav>img:hover {
    cursor: pointer;
    border-bottom: 1px solid white
}


#mid-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 120px;
}

.main-content {
    height: auto;
    width: 379px;
    text-align: justify;
}

.adventure-title {
    transition: 0.5s ease-in-out;
    color: white;
    font-size: 2.3rem;
    font-weight: 700;
}

.text {
    transition: 0.5s ease-in-out;
    color: white;
    font-size: 0.9rem;
    line-height: 1.3rem;
    font-weight: 500;
}

.character {
    position: absolute;
    top: 154px;
    right: 443px;
    width: 250px;
}

.blocks {
    position: absolute;
    top: 30px;
    right: 0;
    width: 900px;
    z-index: 0;
}


footer {
    position: absolute;
    background: radial-gradient(100% 100% at 0% 0%, rgba(0, 0, 0, 0.42) 0%, rgba(0, 0, 0, 0.558) 100%);
    backdrop-filter: blur(5px);
    left: 76px;
    bottom: 0;
    z-index: 0;
    display: flex;
    flex-direction: row;
    width: 94.7%;
}

.astronaut {
    margin-left: 6vw;
    height: auto;
    width: 25vh;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3vw;
}

.footer-title{
    transition: 0.5s ease-in-out;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
}

.footer-text1 {
    padding-top: 5px;
    text-align: justify;
    font-size: 0.8rem;
    width: 300px;
    transition: 0.5s ease-in-out;
    color: white;
}

.arrow {
    transform: translateX(-20px) translateY(150px);
    width: auto;
    transition: 0.5s ease-in-out;
    height: 10px;
}

.text-container2 {
    transform: translateX(180px);
}

.footer-title2{
    transition: 0.5s ease-in-out;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
}

.footer-text2{
    color: white;
    transition: 0.5s ease-in-out;
}

/* Beyond this point is the CSS triggered by the JS. */

#m-container.active {
    transition: 0.5s ease-in-out;
    border: 1px solid black;
    background: white;

}

#left-content.active {
    transition: 0.5s ease-in-out;
    border-right: 1px solid black;
}

nav.active>a {
    transition: 0.5s ease-in-out;
    color: black;
}

.page-title.active {
    transition: 0.5s ease-in-out;
    color: black;
}

.a-container.active>a>img {
    transition: 0.5s ease-in-out;
    filter: invert(0)
}

.light-source.active {
    transition: 0.5s ease-in-out;
    filter: brightness(0);
}

.adventure-title.active {
    transition: 0.5s ease-in-out;
    color: black;
}

.text.active {
    transition: 0.5s ease-in-out;
    color: black;
}

.footer-text1.active{
    transition: 0.5s ease-in-out;
    color: black;
}

.footer-text2.active{
    transition: 0.5s ease-in-out;
    color: black;
}

.arrow.active{
    transition: 0.5s ease-in-out;
    filter: invert(1);
}

.footer-title2.active {
    transition: 0.5s ease-in-out;
    color: black;
}